@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.svgcolor {
    filter: brightness(0) saturate(100%) invert(58%) sepia(1%) saturate(0%) hue-rotate(62deg) brightness(91%) contrast(93%);
}