@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.svgcolor {
    filter: brightness(0) saturate(100%) invert(58%) sepia(1%) saturate(0%) hue-rotate(62deg) brightness(91%) contrast(93%);
}

.svgcolorlistpage {
    filter: brightness(0) saturate(100%) invert(82%) sepia(97%) saturate(737%) hue-rotate(315deg) brightness(101%) contrast(104%);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #D3D3D3;
}
  
::-webkit-scrollbar-track {
    background-color: #D3D3D3;
}
  
::-webkit-scrollbar-thumb {
    background-color: #fece51;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #e5b64d;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
}

@keyframes l1 {to{transform: rotate(.5turn)}}

svg{
    #heart{transform-origin:center; animation:animateHeartOut .3s linear forwards;}
    #main-circ{transform-origin:29.5px 29.5px;}
}
  
#checkbox{display:none;}

#checkbox:checked + label svg{
    #heart{transform:scale(.2); fill:#E2264D; animation:animateHeart .3s linear forwards .25s;}
    #main-circ{transition:all 2s; animation:animateCircle .3s linear forwards; opacity:1;}
    #grp1{
    opacity:1; transition:.1s all .3s;
    #oval1{
        transform:scale(0) translate(0, -30px);
        transform-origin:0 0 0;
        transition:.5s transform .3s;}
    #oval2{
        transform:scale(0) translate(10px, -50px);
        transform-origin:0 0 0;
        transition:1.5s transform .3s;}
    }
    #grp2{
    opacity:1; transition:.1s all .3s;
    #oval1{
        transform:scale(0) translate(30px, -15px); 
        transform-origin:0 0 0;
        transition:.5s transform .3s;}
    #oval2{
        transform:scale(0) translate(60px, -15px); 
        transform-origin:0 0 0;
        transition:1.5s transform .3s;}
    }
    #grp3{
    opacity:1; transition:.1s all .3s;
    #oval1{
        transform:scale(0) translate(30px, 0px);
        transform-origin:0 0 0;
        transition:.5s transform .3s;}
    #oval2{
        transform:scale(0) translate(60px, 10px);
        transform-origin:0 0 0;
        transition:1.5s transform .3s;}
    }
    #grp4{
    opacity:1; transition:.1s all .3s;
    #oval1{
        transform:scale(0) translate(30px, 15px);
        transform-origin:0 0 0;
        transition:.5s transform .3s;}
    #oval2{
        transform:scale(0) translate(40px, 50px);
        transform-origin:0 0 0;
        transition:1.5s transform .3s;}
    }
    #grp5{
    opacity:1; transition:.1s all .3s;
    #oval1{
        transform:scale(0) translate(-10px, 20px);
        transform-origin:0 0 0;
        transition:.5s transform .3s;}
    #oval2{
        transform:scale(0) translate(-60px, 30px);
        transform-origin:0 0 0;
        transition:1.5s transform .3s;}
    }
    #grp6{
    opacity:1; transition:.1s all .3s;
    #oval1{
        transform:scale(0) translate(-30px, 0px);
        transform-origin:0 0 0;
        transition:.5s transform .3s;}
    #oval2{
        transform:scale(0) translate(-60px, -5px);
        transform-origin:0 0 0;
        transition:1.5s transform .3s;}
    }
    #grp7{
    opacity:1; transition:.1s all .3s;
    #oval1{
        transform:scale(0) translate(-30px, -15px);
        transform-origin:0 0 0;
        transition:.5s transform .3s;}
    #oval2{
        transform:scale(0) translate(-55px, -30px);
        transform-origin:0 0 0;
        transition:1.5s transform .3s;}
    }
    #grp2{opacity:1; transition:.1s opacity .3s;}
    #grp3{opacity:1; transition:.1s opacity .3s;}
    #grp4{opacity:1; transition:.1s opacity .3s;}
    #grp5{opacity:1; transition:.1s opacity .3s;}
    #grp6{opacity:1; transition:.1s opacity .3s;}
    #grp7{opacity:1; transition:.1s opacity .3s;}
}

@keyframes animateCircle{
40%{transform:scale(10); opacity:1; fill:#DD4688;}
55%{transform:scale(11); opacity:1; fill:#D46ABF;}
65%{transform:scale(12); opacity:1; fill:#CC8EF5;}
75%{transform:scale(13); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.5;}
85%{transform:scale(17); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.2;}
95%{transform:scale(18); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.1;}
100%{transform:scale(19); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:0;}
}

@keyframes animateHeart{
0%{transform:scale(.2);}
40%{transform:scale(1.2);}
100%{transform:scale(1);}
}

@keyframes animateHeartOut{
0%{transform:scale(1.4);}
100%{transform:scale(1);}
}

.favorite-button-label {
    pointer-events: none;
}

@keyframes slideRight {
    0% {
      transform: translateX(260%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-260%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 640px) {
    .animate-slide-right {
        animation: slideRight 0.5s;
    }

    .animate-slide-left {
        animation: slideLeft 0.5s;
    }
}